<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>用例列表页</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/R-C.ico">

</head>
<body>
<nav class="navbar navbar-default" role="navigation" style="border-radius:0; box-shadow: 4px 4px 6px grey; background:linear-gradient(to right,#ada38a,#ada86a,#8ee8a6)">
    <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand" href="#" style="margin-right: 25px"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li >
                 <a href="/home/">首页</a>
            </li>

            <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">并发运行<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li>
                         <a href="#">并发运行</a>
                    </li>
                        <li class="divider">
                    </li>
                    <li>
                         <a href="#">报告总结</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                         <a href="#">导出报告</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">监控设置<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" onclick="set_monitor()">设置</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                         <a href="#">启动</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                         <a href="#">关闭</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">项目设置<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li>
                         <a href="#" onclick="set_platform()">设置</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                         <a href="#">下载本地调试包</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                         <a href="#">更新public(管理者)</a>
                    </li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="搜索用例关键字" />
            </div> <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="navbar-nav navbar-right">
            <li style="margin-right: 10px">
                <select class="form-control" name="" id="" style="margin-top: 8.5px">
                    {%  for i in hosts %}
                        <option value="">环境：{{ i }}</option>
                    {% endfor %}

                </select>
            </li>
        </ul>
    </div>
</nav>

<div class="page-wrapper" >
    {% include 'menu.html' %}
    <main class="page-content" >
        <table class="table table-bordered" style="width: 70%;margin-left: 15%" >
            <caption style="text-align: center"> 项目：【<span style="color: mediumorchid">{{ platform.name}}</span>】的用例如下： <a href="/add_case/{{ platform.id}}/" >新增用例</a></caption>
            <thead>
                <tr style="background: linear-gradient(to right,#8a7848,#8a832b,#448355)">
                    <th style="width: 200px">id</th>
                    <th style="width: 200px">并发</th>
                    <th style="width: 200px">监控</th>
                    <th>名字</th>
                    <th>脚本</th>
                    <th style="width: 200px"> 操作</th>
                </tr>
            </thead>
            <tbody>
                {% for i in cases %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.Concurrency }}</td>
                        <td>{{ i.monitor }}</td>
                        <td style="color: mediumvioletred">{{ i.name }}</td>
                        <td style="">{{ i.py }}</td>
                        <td>
                            <div>
                                <button onclick="set_case({{i.id }})"type="button" class="btn btn-default">设置</button>
                                <button type="button" class="btn btn-default">运行</button>
                                <button type="button" class="btn btn-default">报告</button>
                                <button onclick="javascript:document.location.href='/del_case/{{ i.id }}/'" type="button" class="btn btn-danger">删除</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main><!-- page-content" -->
</div>


<div id="case_div" style=" z-index: 999; display:none;width: 70%;position: fixed;left: 15%;top: 100px;background-color: white;border-radius: 3px;box-shadow: 4px 4px 6px grey">
    <div class="input-group input-group-sm" style="margin-top: 5px">
        <span class="input-group-addon">用例名称</span>
        <input  id="case_name" type="text" class="form-control" placeholder="">
    </div>
    <div class="input-group input-group-sm" style="margin-top: 5px">
        <span class="input-group-addon">重试次数</span>
        <input id="case_counts" type="text" class="form-control" placeholder="">
    </div>
    <div class="input-group input-group-sm" style="margin-top: 5px">
        <span class="input-group-addon">并发用例</span>
        <span class="input-group-addon" style="width: 3px;background-color: white">
            <label >
                <input id="Concurrency_true" type="radio" name="radio_Concurrency" value="True">
                <span style="font-size: medium">是</span>
            </label>
        </span>
        <span class="input-group-addon" style="width: 3px;background-color: white">
            <label >
                <input id="Concurrency_false" type="radio" name="radio_Concurrency" value="False">
                <span style="font-size: medium">否</span>
            </label>
        </span>
    </div>
    <div class="input-group input-group-sm" style="margin-top: 5px">
        <span class="input-group-addon">监控用例</span>
        <span class="input-group-addon" style="width: 3px;background-color: white">
            <label >
                <input id="monitor_true" type="radio" name="radio_monitor" value="True">
                <span style="font-size: medium">是</span>
            </label>
        </span>
        <span class="input-group-addon" style="width: 3px;background-color: white">
            <label >
                <input id="monitor_false" type="radio" name="radio_monitor" value="False">
                <span style="font-size: medium">否</span>
            </label>
        </span>
    </div>
    <div class="input-group input-group-sm" style="margin-top: 5px">
        <span class="input-group-addon">上传脚本</span>
        <span class="input-group-addon" style="background-color: white;width:3px" id="case_script_name"></span>
        <sapn class="input-group-addon" style="background-color: white;width:3px">
            <form id="upload_py" action="" method="post" enctype="multipart/form-data">
                <input type="file" name="fileUpload">
            </form>
        </sapn>

    </div>
    <div class="input-group input-group-sm" style="width: 100%" style="margin-top: 5px">
        <button onclick="javascript:document.location.reload()" class = "btn btn-default" style="outline: none;width: 50%">取消</button>
        <button onclick="save_case()" class = "btn btn-success" style="outline: none;width: 50%">保存</button>
    </div>
<input type="text" value="" id="case_id" style="display: none">

</div>
<script>
    function set_case(id){
        //显示这个弹层
        document.getElementById('case_div').style.display= 'block';
        //去后台拿数据
        $.get('/set_case/',{"id":id},function (ret){
            console.log(ret)
            document.getElementById('case_name').value =ret.name;
            document.getElementById('case_counts').value =ret.counts;
            document.getElementById('Concurrency_'+ret.Concurrency).checked = 'checked';
            document.getElementById('monitor_'+ret.monitor).checked = 'checked';
            document.getElementById('case_id').value = ret.id;
            document.getElementById('case_script_name').innerText = ret.py;
            document.getElementById('upload_py').action = '/upload_py/'+id+'/';

        })
    }
    function save_case(){
        // 确定当前打开的是哪个用例
        case_id = document.getElementById('case_id').value;
        // 获取弹层数据
        // 把数据发给服务器
        $.get('/save_case/',{
            "case_id": case_id,
            "case_name": document.getElementById('case_name').value,
            "case_counts": $('#case_counts').val(),
            "Concurrency": $(':radio[name="radio_Concurrency"]:checked').val(),
            "monitor": $(':radio[name="radio_monitor"]:checked').val(),
        },function (ret){
            var bd = document.getElementById('upload_py');
                bd.submit();

        })

        
    }
</script>

<div id="monitor_div" style=" z-index: 999; display:none;width: 70%;position: fixed;left: 15%;top: 100px;background-color: white;border-radius: 3px;box-shadow: 4px 4px 6px grey">
    <div class="input-group input-group-sm" style="margin-top: 5px">
        <span class="input-group-addon">间隔时间</span>
        <input  id="monitor_time" type="text" class="form-control" placeholder="" value="{{ platform.monitor_time }}">
    </div>
    <div class="input-group input-group-sm" style="margin-top: 5px">
        <span class="input-group-addon">手机号码</span>
        <input  id="monitor_phone" type="text" class="form-control" placeholder="多个之间用英文逗号隔开" value="{{ platform.monitor_phone }}">
    </div>
    <div class="input-group input-group-sm" style="margin-top: 5px">
        <span class="input-group-addon">邮件地址</span>
        <input  id="monitor_email" type="text" class="form-control" placeholder="多个之间用英文逗号隔开" value="{{ platform.monitor_email }}">
    </div>
    <div class="input-group input-group-sm" style="margin-top: 5px">
        <span class="input-group-addon">飞书地址</span>
        <input  id="monitor_feishu" type="text" class="form-control" placeholder="" value="{{ platform.monitor_feishu }}">
    </div>
    <div class="input-group input-group-sm" style="width: 100%" style="margin-top: 5px">
        <button onclick="javascript:document.location.reload()" class = "btn btn-default" style="outline: none;width: 50%">取消</button>
        <button onclick="save_monitor()" class = "btn btn-success" style="outline: none;width: 50%">保存</button>
    </div>

</div>
<script>
    function set_monitor(){
        //显示这个弹层
        document.getElementById('monitor_div').style.display= 'block';
        //去后台拿数据
        {#$.get('/set_monitor/',{"platform_id":"{{ platform.id }}"},#}
        {#    function (ret){#}
        {#    console.log(ret)#}
        {#    document.getElementById('monitor_time').value =ret.monitor_time;#}
        {#    document.getElementById('monitor_phone').value =ret.monitor_phone;#}
        {#    document.getElementById('monitor_email').value =ret.monitor_email;#}
        {#    document.getElementById('monitor_feishu').value =ret.monitor_feishu;})#}
    }
    function save_monitor(){
        // 把数据发给服务器
        $.get('/save_monitor/',{
            "monitor_time": document.getElementById('monitor_time').value,
            "monitor_phone": document.getElementById('monitor_phone').value,
            "monitor_email": document.getElementById('monitor_email').value,
            "monitor_feishu": document.getElementById('monitor_feishu').value,
            "platform_id": "{{ platform.id }}",

        },function (ret){
            document.location.reload() // 保存后刷新页面
        })


    }
</script>

<div id="platform_div" style=" z-index: 999; display:none;width: 70%;position: fixed;left: 15%;top: 100px;background-color: white;border-radius: 3px;box-shadow: 4px 4px 6px grey">
    <div class="input-group input-group-sm" style="margin-top: 5px">
        <span class="input-group-addon">名字</span>
        <input  id="platform_name" type="text" class="form-control" placeholder="" value="{{ platform.name }}">
    </div>
    <div class="input-group input-group-sm" style="margin-top: 5px">
        <span class="input-group-addon">域名</span>
        <input  id="platform_host" type="text" class="form-control" placeholder="多个域名之间用英文逗号隔开" value="{{ platform.host }}">
    </div>
    <div class="input-group input-group-sm" style="margin-top: 5px">
        <span class="input-group-addon">管理</span>
        <input  id="platform_user" type="text" class="form-control" placeholder="多个管理员之间用英文逗号隔开" value="{{ platform.user }}">
    </div>
    <div class="input-group input-group-sm" style="margin-top: 5px">
        <span class="input-group-addon">并发</span>
        <input  id="platform_max_Concurrency" type="text" class="form-control" placeholder="该端最大并发次数" value="{{ platform.max_Concurrency }}">
    </div>
    <div class="input-group input-group-sm" style="width: 100%" style="margin-top: 5px">
        <button onclick="javascript:document.location.reload()" class = "btn btn-default" style="outline: none;width: 50%">取消</button>
        <button onclick="save_platform()" class = "btn btn-success" style="outline: none;width: 50%">保存</button>
    </div>

</div>
<script>
    function set_platform(){
        //显示这个弹层
        document.getElementById('platform_div').style.display= 'block';
    }
    function save_platform(){
        // 把数据发给服务器
        $.get('/save_old_platform/',{
            "name": document.getElementById('platform_name').value,
            "host": document.getElementById('platform_host').value,
            "user": document.getElementById('platform_user').value,
            "max_Concurrency": document.getElementById('platform_max_Concurrency').value,
            "platform_id": "{{ platform.id }}",

        },function (ret){
            document.location.reload() // 保存后刷新页面
        })


    }
</script>

</body>
</html>